@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));


@theme {
    --breakpoint-xs: 1rem;
    --font-sans:
        var(--font-roboto-mono-sans), ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

:root {
    /* https://codepen.io/argyleink/pen/MWymQGj */
    --colorNeonPurple: #9461fd;
    --colorNeonPurpleGlow: #4003e6;
    --colorNeonBlue: #2dd9fe;
    --colorNeonBlueGlow: #00a3d5;
    --colorNeonYellow: #ffdb4e;
    --colorNeonYellowGlow: #b48505;
    --colorNeonGreen: #00fe9b;
    --colorNeonGreenGlow: #02c435;
    --colorNeonPink: #ff53cd;
    --colorNeonPinkGlow: #e10361;
    --colorNeonRed: #ff5161;
    --colorNeonRedGlow: #d30302;
    --colorNeonOrange: #ffb24e;
    --colorNeonOrangeGlow: #b47405;
    --colorNeonWhite: #fefefe;
    --colorNeonWhiteGlow: #ffffff;

    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.129 0.042 264.695);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.129 0.042 264.695);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.129 0.042 264.695);
    --primary: oklch(0.208 0.042 265.755);
    --primary-foreground: oklch(0.984 0.003 247.858);
    --secondary: oklch(0.968 0.007 247.896);
    --secondary-foreground: oklch(0.208 0.042 265.755);
    --muted: oklch(0.968 0.007 247.896);
    --muted-foreground: oklch(0.554 0.046 257.417);
    --accent: oklch(0.968 0.007 247.896);
    --accent-foreground: oklch(0.208 0.042 265.755);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.929 0.013 255.508);
    --input: oklch(0.929 0.013 255.508);
    --ring: oklch(0.704 0.04 256.788);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.984 0.003 247.858);
    --sidebar-foreground: oklch(0.129 0.042 264.695);
    --sidebar-primary: oklch(0.208 0.042 265.755);
    --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
    --sidebar-accent: oklch(0.968 0.007 247.896);
    --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
    --sidebar-border: oklch(0.929 0.013 255.508);
    --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
    --background: oklch(0.129 0.042 264.695);
    --foreground: oklch(0.984 0.003 247.858);
    --card: oklch(0.208 0.042 265.755);
    --card-foreground: oklch(0.984 0.003 247.858);
    --popover: oklch(0.208 0.042 265.755);
    --popover-foreground: oklch(0.984 0.003 247.858);
    --primary: oklch(0.929 0.013 255.508);
    --primary-foreground: oklch(0.208 0.042 265.755);
    --secondary: oklch(0.279 0.041 260.031);
    --secondary-foreground: oklch(0.984 0.003 247.858);
    --muted: oklch(0.279 0.041 260.031);
    --muted-foreground: oklch(0.704 0.04 256.788);
    --accent: oklch(0.279 0.041 260.031);
    --accent-foreground: oklch(0.984 0.003 247.858);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.551 0.027 264.364);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.208 0.042 265.755);
    --sidebar-foreground: oklch(0.984 0.003 247.858);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
    --sidebar-accent: oklch(0.279 0.041 260.031);
    --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.551 0.027 264.364);
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}


@layer utilities {
    .neonEffect {
    }

    .neonEffect.neText {
        --_colorNeon: var(--colorNeon, --colorNeonWhite);
        color: var(--_colorNeon);
    }

    .neonEffect.neTextGlow {
        --_colorGlow: var(--colorGlow, --colorNeonWhiteGlow);
        text-shadow: var(--_colorGlow) 1px 0 10px;
    }

    .neonEffect.neBackground {
        --_colorNeon: var(--colorNeon, --colorNeonWhite);
        background-color: var(--_colorNeon);
    }
    .neonEffect.neBackgroundHover:hover,
    .neonEffect.neBackgroundHover:focus {
        --_colorGlow: var(--colorGlow, --colorNeonWhiteGlow);
        background-color: var(--_colorGlow);
    }

    .neonEffect.neBorder {
        --_colorNeon: var(--colorNeon, --colorNeonWhite);
        border-color: var(--_colorNeon);
    }

    .neonEffect.neBorderGlow {
        --_colorGlow: var(--colorGlow, --colorNeonWhiteGlow);
        --_glowIntensity: var(--glowIntensity, 20px);
        box-shadow:
            0 0 var(--_glowIntensity) var(--_colorGlow),
            inset 0 0 0px var(--_colorGlow);
    }
    .neonEffect.neBorderGlow.glowIntensityLow {
        --glowIntensity: 10px;
    }

    .neonEffect.neScrollBar {
        --_colorNeon: var(--colorNeon, --colorNeonWhite);
        scrollbar-color: var(--_colorNeon) hsl(var(--background));
        scrollbar-width: thin;
    }

    .neonEffect.neScrollBar::-webkit-scrollbar-thumb {
        --_colorNeon: var(--colorNeon, --colorNeonWhite);
        --_colorGlow: var(--colorGlow, --colorNeonWhiteGlow);
        background-color: var(--_colorNeon) hsl(var(--background));
        border-radius: 10px;
        border: 3px solid var(--_colorNeon);
        box-shadow:
            0 0 20px var(--_colorGlow),
            inset 0 0 0px var(--_colorGlow);
    }

    .neonEffect.neColorPurple {
        --colorNeon: var(--colorNeonPurple);
        --colorGlow: var(--colorNeonPurpleGlow);
    }

    .neonEffect.neColorBlue {
        --colorNeon: var(--colorNeonBlue);
        --colorGlow: var(--colorNeonBlueGlow);
    }
    .neonEffect.neColorYellow {
        --colorNeon: var(--colorNeonYellow);
        --colorGlow: var(--colorNeonYellowGlow);
    }
    .neonEffect.neColorGreen {
        --colorNeon: var(--colorNeonGreen);
        --colorGlow: var(--colorNeonGreenGlow);
    }
    .neonEffect.neColorPink {
        --colorNeon: var(--colorNeonPink);
        --colorGlow: var(--colorNeonPinkGlow);
    }
    .neonEffect.neColorRed {
        --colorNeon: var(--colorNeonRed);
        --colorGlow: var(--colorNeonRedGlow);
    }
    .neonEffect.neColorOrange {
        --colorNeon: var(--colorNeonOrange);
        --colorGlow: var(--colorNeonOrangeGlow);
    }
    .neonEffect.neColorWhite {
        --colorNeon: var(--colorNeonWhite);
        --colorGlow: var(--colorNeonWhiteGlow);
    }
}
