@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* https://codepen.io/argyleink/pen/MWymQGj */
        --colorNeonPurple: #9461fd;
        --colorNeonPurpleGlow: #4003e6;
        --colorNeonBlue: #2dd9fe;
        --colorNeonBlueGlow: #00a3d5;
        --colorNeonYellow: #ffdb4e;
        --colorNeonYellowGlow: #b48505;
        --colorNeonGreen: #00fe9b;
        --colorNeonGreenGlow: #02c435;
        --colorNeonPink: #ff53cd;
        --colorNeonPinkGlow: #e10361;
        --colorNeonRed: #ff5161;
        --colorNeonRedGlow: #d30302;
        --colorNeonOrange: #ffb24e;
        --colorNeonOrangeGlow: #b47405;
        --colorNeonWhite: #fefefe;
        --colorNeonWhiteGlow: #ffffff;
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;
        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;
        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;
        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;
        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;
        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;
        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem;
    }
    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;
        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;
        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;
        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;
        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;
        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;
        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;
        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

@layer utilities {
    .neonEffect {
    }

    .neonEffect.neText {
        --_colorNeon: var(--colorNeon, --colorNeonWhite);
        color: var(--_colorNeon);
    }

    .neonEffect.neTextGlow {
        --_colorGlow: var(--colorGlow, --colorNeonWhiteGlow);
        text-shadow: var(--_colorGlow) 1px 0 10px;
    }

    .neonEffect.neBackground {
        --_colorNeon: var(--colorNeon, --colorNeonWhite);
        background-color: var(--_colorNeon);
    }
    .neonEffect.neBackgroundHover:hover,
    .neonEffect.neBackgroundHover:focus {
        --_colorGlow: var(--colorGlow, --colorNeonWhiteGlow);
        background-color: var(--_colorGlow);
    }

    .neonEffect.neBorder {
        --_colorNeon: var(--colorNeon, --colorNeonWhite);
        border-color: var(--_colorNeon);
    }

    .neonEffect.neBorderGlow {
        --_colorGlow: var(--colorGlow, --colorNeonWhiteGlow);
        --_glowIntensity: var(--glowIntensity, 20px);
        box-shadow:
            0 0 var(--_glowIntensity) var(--_colorGlow),
            inset 0 0 0px var(--_colorGlow);
    }
    .neonEffect.neBorderGlow.glowIntensityLow {
        --glowIntensity: 10px;
    }

    .neonEffect.neScrollBar {
        --_colorNeon: var(--colorNeon, --colorNeonWhite);
        scrollbar-color: var(--_colorNeon) hsl(var(--background));
    }

    .neonEffect.neScrollBar::-webkit-scrollbar-thumb {
        --_colorNeon: var(--colorNeon, --colorNeonWhite);
        --_colorGlow: var(--colorGlow, --colorNeonWhiteGlow);
        background-color: var(--_colorNeon);
        border-radius: 10px;
        border: 3px solid var(--_colorNeon);
        box-shadow:
            0 0 20px var(--_colorGlow),
            inset 0 0 0px var(--_colorGlow);
    }

    .neonEffect.neColorPurple {
        --colorNeon: var(--colorNeonPurple);
        --colorGlow: var(--colorNeonPurpleGlow);
    }

    .neonEffect.neColorBlue {
        --colorNeon: var(--colorNeonBlue);
        --colorGlow: var(--colorNeonBlueGlow);
    }
    .neonEffect.neColorYellow {
        --colorNeon: var(--colorNeonYellow);
        --colorGlow: var(--colorNeonYellowGlow);
    }
    .neonEffect.neColorGreen {
        --colorNeon: var(--colorNeonGreen);
        --colorGlow: var(--colorNeonGreenGlow);
    }
    .neonEffect.neColorPink {
        --colorNeon: var(--colorNeonPink);
        --colorGlow: var(--colorNeonPinkGlow);
    }
    .neonEffect.neColorRed {
        --colorNeon: var(--colorNeonRed);
        --colorGlow: var(--colorNeonRedGlow);
    }
    .neonEffect.neColorOrange {
        --colorNeon: var(--colorNeonOrange);
        --colorGlow: var(--colorNeonOrangeGlow);
    }
    .neonEffect.neColorWhite {
        --colorNeon: var(--colorNeonWhite);
        --colorGlow: var(--colorNeonWhiteGlow);
    }
}
