.monitor{
    --_position: var(--position, relative);
    --_top: var(--top, unset);
    --_left: var(--left, unset);

    --_width: var(--width, 100%);
    --_height: var(--height, 100%);
    --_minHeight: var(--minHeight, 100svh);
    --_borderWidth: var(--borderWidth, 10px);
    --_borderColor: var(--borderColor, #a59d20);
    --_borderRadius: var(--borderRadius, 10px);

    --innerBorderWidth: 10px;
    --innerSpace: 20px;
    --innerMargin: -10px;

    position: var(--_position);
    top: var(--_top);
    left: var(--_left);

    width: var(--_width);
    height: var(--_height);
    min-height: var(--_minHeight);
    border-style: solid;
    border-width: var(--_borderWidth);
    border-color: var(--_borderColor);
    border-radius: var(--_borderRadius);
}

.monitor.black{
    --borderColor: #000000;
    --borderWidth: 15px
}

.monitor.innerTop{
    --position: absolute;
    --top: 0;
    --left: 12.5%;

    --width: 75%;
    --height: var(--innerSpace);
    --minHeight: 0svh;
    --borderWidth: 0px 0px var(--innerBorderWidth) 0px;

    margin-top: var(--innerMargin);
}

.monitor.innerRight{
    --position: absolute;
    --top: 12.5%;
    --left: 100%;

    --width: var(--innerSpace);
    --height: 75%;
    --minHeight: 0svh;
    --borderWidth: 0px 0px 0px var(--innerBorderWidth);

    margin-left: var(--innerMargin);
}

.monitor.innerBottom{
    --position: absolute;
    --top: 100%;
    --left: 12.5%;

    --width: 75%;
    --height: var(--innerSpace);
    --minHeight: 0svh;
    --borderWidth: var(--innerBorderWidth) 0px 0px 0px;

    margin-top: var(--innerMargin);
}

.monitor.innerLeft{
    --position: absolute;
    --top: 12.5%;
    --left: 0;

    --width: var(--innerSpace);
    --height: 75%;
    --minHeight: 0svh;
    --borderWidth: 0px var(--innerBorderWidth) 0px 0px;

    margin-left: var(--innerMargin);
}

.monitor .content{
    width: 100%;
    height: 95svh;
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
}

.monitor .content .contentItemFull{
    grid-column-start: 1;
    grid-column-end: span 8;
}

.monitor .content .contentItem{
    padding: 10%;
    display: block;
}

.monitor .content .contentItem.first{
    grid-column-start: 2;
    grid-column-end: span 2;
}

.monitor .content .contentItem.second{
    grid-column-start: 4;
    grid-column-end: span 2;
}

.monitor .content .contentItem.third{
    grid-column-start: 6;
    grid-column-end: span 2;
}

.monitor .content .contentItem .menu{
    position: relative;
    border: 5px solid var(--colorNeonBlue);
    border-radius: 25px;
    width: 100%;
    min-height: 75svh;
    transition: all 0.5s ease-out;
}

.monitor .content .contentItem .menuGlow{
    box-shadow: 
        0 0 20px var(--colorNeonBlueGlow), 
        inset 0 0 0px var(--colorNeonBlueGlow);
}

.monitor .content .contentItem:hover .menu,
.monitor .content .contentItem:focus .menu{
    scale: 0.8;
}

.monitor .content .contentItem .menu .icon{
    /* width: 50px; */
    padding-top: 100px;
    scale: 0.75;
    color: var(--colorNeonBlue);
}

.monitor .content .contentItem .menu .title{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 40%;
    transform: rotate(-90deg);
    font-size: 2rem;
}

@media only screen and (max-width: 1665px){
    .monitor .content .contentItem .menu .title{
        width: 200%;
        top: 50%;
        left: -10%;
    }
}

@media only screen and (max-width: 975px){
    .monitor .content .contentItem .menu .title{
        width: 200%;
        top: 50%;
        left: -15%;
    }
}

@media only screen and (max-width: 650px){
    .monitor .content .contentItem{
        grid-column-start: 2 !important;
        grid-column-end: span 6 !important;
    }

    .monitor .content .contentItem .menu{
        min-height: 0svh;
    }

    .monitor .content .contentItem .menu .icon{
        padding-top: 0px;
        margin-top: -50px;
        scale: 0.375;
    }

    .monitor .content .contentItem .menu .title{
        position: relative;
        width: unset;
        top: unset;
        left: unset;
        transform: rotate(0deg);
        font-size: 2rem;
        text-align: center;
        margin-top: -50px;
    }
}

@media only screen and (max-width: 575px){
    .monitor .content .contentItem .menu .icon{
        margin-top: -50px;
        scale: 0.25;
    }

    .monitor .content .contentItem .menu .title{
        font-size: 1.5rem;
        margin-top: -50px;
    }
}

@media only screen and (max-width: 575px){
    .monitor .content .contentItem .menu .icon{
        margin-top: -35px;
    }

    .monitor .content .contentItem .menu .title{
        margin-top: -35px;
    }
}

@media only screen and (max-width: 375px){
    .monitor .content .contentItem .menu .icon{
        margin-top: -25px;
    }

    .monitor .content .contentItem .menu .title{
        font-size: 1.25rem;
        margin-top: -25px;
    }
}